[Unit]
Description=rtmp video, audio and mic

[Service]
Type=idle
ExecStart=/bin/bash /opt/silly-robot-shaniu/robot/raspberry_pi_5/run.sh
ExecReload=/bin/kill -HUP $MAINPID
Restart=always
RestartSec=5s

[Install]
WantedBy=multi-user.target
