[Unit]
Description=http server fastapi

[Service]
Type=idle
WorkingDirectory=/opt/silly-robot-shaniu/server_http
ExecStart=/opt/venv-py312/bin/uvicorn --host="0.0.0.0" --port=8080 main:app
ExecReload=/bin/kill -HUP $MAINPID
Restart=always
RestartSec=5s

[Install]
WantedBy=multi-user.target
